/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 4, 2016, 5:18:47 PM
    Author     : © Dylan Burnett and Tanner McIntyre 2016. All rights reserved.
*/

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#headerH1 {
  text-align: center;
}

table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

th {
    text-align: left;
}

footer {
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-color: darkblue;
  border-top-style: solid;
}

footer p {
  margin-left: 2em;
}

#redBorder {
  border-color: red;
  border-style: solid;
  margin: 2em;
}

#mainContent {
  margin: 2em;
}

#mainContent p {
  margin: 0;
}

#bookTitleID {
    margin-left: 61px;
    width: 25%;
}

#firstNameID {
    margin-left: 53px;
    width: 15%;
}

#lastNameId {
    margin-left: 55px;
    width: 15%;
}

#emailAddressID {
    margin-left: 30px;
    width: 15%;
}

#checkout {
    margin-left: 133px;
}